# HW 2: Predict Customer Churn

    (i) Exploratory Data Analysis (EDA) and Data Cleaning
    (ii) Analysis of features
    (iii) Testing of different models
    (iv) Improvements to models 
    (v) Reducing risk of target leakage and overfitting

In [1]:
# -*- coding:utf-8 -*-
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from __future__ import division
from math import sqrt
%matplotlib inline

### Exploratory Data Analysis

In [2]:
filepath = './WA_Fn-UseC_-Telco-Customer-Churn.csv'
data = pd.read_csv(filepath)
features = list(data)
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [3]:
#Customer churn data features
print(features)

['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn']

In [4]:
#Shape
#7043 records, 21 features
data.shape

(7043, 21)

In [5]:
#Basic statistical summary of data set (for numerical features)
data.describe()

#SeniorCitizen is binary and the statistical description of that feature is not significant
#Also, the feature 'TotalCharges' is left out when we run the describe function
#It seems that 'TotalCharges' was parsed as a 'str' type

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

#### Upon further examination of the features, we notice that for the features
    ['InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies']
If the 'InternetService' is 'No', then the rest of the features ('OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies') will be 'No internet service'.

This is useful later on when we analyse the different features and their importance, as this indicates some form of interdependence amongst variables.

#### Similarly, if the customer has no 'PhoneService', they will by default have 'No phone service' for the 'MultipleLines' feature

### We will do some data cleaning of the data

### Data Cleaning

### Dealing with empty data cells

    There are value in the 'TotalCharges' column that are empty.
    We need to consider if we should remove that row of data or replace the empty cell with an appropriate value.

In [6]:
# Here we can see that there are rows whereby the 'TotalCharges' value is empty
data[data['TotalCharges']==' ']

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,4472-LVYGI,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,...,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,,No
753,3115-CZMZD,Male,0,No,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,,No
936,5709-LVOEQ,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,...,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,,No
1082,4367-NUYAO,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,,No
1340,1371-DWPAZ,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,...,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,,No
3331,7644-OMVMY,Male,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,,No
3826,3213-VVOLG,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,,No
4380,2520-SGTTA,Female,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,,No
5218,2923-ARZLG,Male,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,,No
6670,4075-WKNIU,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,...,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,,No
6754,2775-SEFEE,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,...,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,,No

#### Analysis of rows with missing data  
   Notice that if the 'TotalCharges' are empty for the rows above, the tenure is always equals to 0.
   
   Hence, we can infer that these customers have only just started their Telco plans and have yet to pay the first month's bills
   
#### To remove or not to remove the row?
   It makes more sense to replace the empty cells for the 'TotalCharges' column with a value of 0 instead of removing the entire row as the data is not 'missing' per se but instead, it is the customer that has yet to pay the first month's bills, hence the 'TotalCharges' thus far is logically 0.

In [7]:
# The code below will  convert the 'TotalCharges' column to a numerical value 

data['TotalCharges'] = pd.to_numeric(data['TotalCharges'], errors='coerce')
data = data.fillna(0.0)

#### Binarizing the features

In [8]:
# Transform categorical features to binary features
# We look at the various features and see which are binary

for feature in features:
    print(feature)
    print(data[feature].unique())
    print("Number of unique variables: " + str(len(data[feature].unique())))
    print()

customerID
['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK']
Number of unique variables: 7043

gender
['Female' 'Male']
Number of unique variables: 2

SeniorCitizen
[0 1]
Number of unique variables: 2

Partner
['Yes' 'No']
Number of unique variables: 2

Dependents
['No' 'Yes']
Number of unique variables: 2

tenure
[ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39]
Number of unique variables: 73

PhoneService
['No' 'Yes']
Number of unique variables: 2

MultipleLines
['No phone service' 'No' 'Yes']
Number of unique variables: 3

InternetService
['DSL' 'Fiber optic' 'No']
Number of unique variables: 3

OnlineSecurity
['No' 'Yes' 'No internet service']
Number of unique variables: 3

OnlineBackup
['Yes' 'No' 'No internet service']
Number of unique variables: 3

DeviceProtection
['No' 'Yes' 'No internet service']
Number of unique variables: 3

TechSupport
['No' 'Yes' 'No internet service']
Number of unique variables: 3

StreamingTV
['No' 'Yes' 'No internet service']
Number of unique variables: 3

StreamingMovies
['No' 'Yes' 'No internet service']
Number of unique variables: 3

Contract
['Month-to-month' 'One year' 'Two year']
Number of unique variables: 3

PaperlessBilling
['Yes' 'No']
Number of unique variables: 2

PaymentMethod
['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Number of unique variables: 4

MonthlyCharges
[29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
Number of unique variables: 1585

TotalCharges
[  29.85 1889.5   108.15 ...  346.45  306.6  6844.5 ]
Number of unique variables: 6531

Churn
['No' 'Yes']
Number of unique variables: 2

In [9]:
#We notice that the categorical variable with the most number of possible values is 4 (PaymentMethod)

featuresToBinarize = []
for feature in features:
    if len(list(data[feature].unique())) <= 4:
        featuresToBinarize.append(feature)
dummies = []

for feature in featuresToBinarize:
    dummies.append(pd.get_dummies(data[feature], prefix=feature))

for dummy in dummies:
    data = data.join(dummy)
    
data = data.drop(featuresToBinarize, axis = 1)

'''
Since we the outcome that we want to know if the Churn is a Yes or No, we only need one output column for 'Churn'
We can drop one of the two columns ('Churn_No' or 'Churn_Yes')
We will drop the Churn_No column and keep the Churn_Yes column
Hence, a 1 will represent a 'Yes' for Churn and 0 will represent a 'No' for Churn
'''

data = data.drop('Churn_No', axis = 1)

data.head()

,customerID,tenure,MonthlyCharges,TotalCharges,gender_Female,gender_Male,SeniorCitizen_0,SeniorCitizen_1,Partner_No,Partner_Yes,...,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn_Yes
0,7590-VHVEG,1,29.85,29.85,1,0,1,0,0,1,...,1,0,0,0,1,0,0,1,0,0
1,5575-GNVDE,34,56.95,1889.50,0,1,1,0,1,0,...,0,1,0,1,0,0,0,0,1,0
2,3668-QPYBK,2,53.85,108.15,0,1,1,0,1,0,...,1,0,0,0,1,0,0,0,1,1
3,7795-CFOCW,45,42.30,1840.75,0,1,1,0,1,0,...,0,1,0,1,0,1,0,0,0,0
4,9237-HQITU,2,70.70,151.65,1,0,1,0,1,0,...,1,0,0,0,1,0,0,1,0,1